.chat {
  display: flex;
  flex: 0.75;
  flex-direction: column;
  background-color: #363a3f;
  height: 100vh;
  overflow: scroll;
}
.chat-messages {
  flex: 1;
}
.chat-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  color: lightgray;
  border-radius: 5px;
  margin: 20px;
  border-top: 2px solid gray;
  background-color: #474b53;
}
.chat-input > form > input {
  background: transparent;
  outline-width: 0px;
  color: white;
  font-size: large;
  border: none;
  width: 100%;
  padding: 10px;
}
.chat-input > form {
  display: flex;
  flex: 1;
}
.btn-input {
  display: none;
}
.input-icons > .MuiSvgIcon-root {
  padding: 5px;
  cursor: pointer;
}
